{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Login - Inventory Manager{% endblock %}

{% block page_content %}
<div class="page-header">
	<h1>Login</h1>
</div>
<div class="col-md-4">
	{{ wtf.quick_form(form) }}
</div>

<div class="col-md-1">
	&nbsp;
</div>

<div class="col-md-4">
	<p>Don't have an account? Get one <a href="{{ url_for('auth.register') }}">here</a>.</p>
</div>
{% endblock %}