{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Register - Inventory Manager{% endblock %}

{% block page_content %}
<div class="page-header">
	<h1>New User Registration</h1>
</div>
<div class="col-md-4">
	{{ wtf.quick_form(form) }}
</div>

<div class="col-md-1">
	&nbsp;
</div>

<div class="col-md-4">
	<p>Already have an account? Login <a href="{{ url_for('auth.login') }}">here</a>.</p>
</div>
{% endblock %}