#product-list {
	max-height: 210px;
	overflow-y: auto;
}

#product-divider {
	margin: 5px;
}

.justify {
	width: 100%;
}

.error {
	color: red;
}

.complete {
	color: green;
	text-decoration-line: line-through;
	text-decoration: line-through;
}

.glyphicon-plus {
	color: green;
}

.form-group .product-order-quantity {
	width: 9ch;
}

#new-order-modal .form-group {
	padding: 5px 0;
}