{% extends "base.html" %}

{% block title %}Page Not Found - Inventory Manager{% endblock %}

{% block page_content %}
<div class="page-header">
	<h1>Page Not Found</h1>
</div>

<div>
	<p>Couldn't find what you were looking for. Try again, or whatever.</p>
</div>
{% endblock %}