{% extends "base.html" %}

{% block title %}Internal Error - Inventory Manager{% endblock %}

{% block page_content %}
<div class="page-header">
	<h1>500 - Internal Error</h1>
</div>

<div>
	<p>Something went wrong. You can try again or whatever.</p>
</div>
{% endblock %}