{% extends "bootstrap/base.html" %}

{% block head %}
{{ super() }}
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
<link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet"
      href="{{url_for('static', filename='custom.css')}}">
{% endblock %}

{% block navbar %}
<nav class="navbar navbar-inverse" role="navigation">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#unique1234" aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			
			<a href="/" class="navbar-brand">Home</a>
		</div>
			
		<div class="collapse navbar-collapse" id="unique1234">
			<ul class="nav navbar-nav">
				{% if current_user.is_authenticated %}
				<li><a href="{{ url_for('main.inventory') }}">Inventory</a></li>
				<li><a href="{{ url_for('auth.logout') }}">Log Out</a></li>
				{% else %}
				<li><a href="{{ url_for('auth.login') }}">Log In</a></li>
				<li><a href="{{ url_for('auth.register') }}">Sign up</a></li>
				{% endif %}
			</ul>
		</div>
	</div>
</nav>
{% endblock %}

{% block content %}
<div class="container">
	
	{% with messages = get_flashed_messages(with_categories=true) %}
		{% if messages %}
			{% for category, message in messages %}
			<div class="alert alert-{{ category }}">
				<button type="button" class="close" data-dismiss='alert'>&times;</button>
				<strong>{{ category | title }}!</strong><br>{{ message }}
			</div>
			{% endfor %}
		{% endif %}
	{% endwith %}
	
	{% block page_content %}{% endblock %}
</div>
{% endblock %}

{% block scripts %}
{{ super() }}

<script src="{{ url_for('static', filename='custom.js') }}"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.14.0/jquery.validate.min.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.14.0/additional-methods.min.js"></script>
{% endblock %}