{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Contact Us - Inventory Manager{% endblock %}

{% block page_content %}
<div class="page-header">
	<h1>Contact Us</h1>
</div>

{{ wtf.quick_form(form) }}

{% endblock %}