{% extends "base.html" %}

{% block title %}{{ product.name }} details - Inventory Manager{% endblock %}

{% block page_content %}
<div class="page-header">
	<h1>{{ product.name }}</h1>
</div>

<table class="table table-bordered">
	<thead>
		<td>Current Quantity</td>
		<td>Minimum  Quantity</td>
		<td>Maximum Quantity</td>
	</thead>
	
	<tbody>
		<tr>
			<td>{{ product.quantity }}</td>
			<td>{{ product.min }}</td>
			<td>{{ product.max }}</td>
		</tr>
	</tbody>
</table>
{% endblock %}