{% extends "base.html" %}

{% block title %}Edit Product - Inventory Manager{% endblock %}

{% block page_content %}
<div class="page-header">
	<h1>Edit Product</h1>
</div>

<table class="table table-bordered">
	<thead>
		<td>Product Name</td>
		<td>Current Quantity</td>
		<td>Minimum  Quantity</td>
		<td>Maximum Quantity</td>
	</thead>
	
	<tbody>
		<form action="{{ url_for('.edit_product') }}" method="POST" id="edit-product-form">
		<input type="hidden" name="id" value={{ product.id }}>
		<tr>
			<td><input type="text" class="justify" name="name" value="{{ product.name }}" required></td>
			<td><input type="number" class="justify" name="quantity" min=0 step=1 value={{ product.quantity }} required></td>
			<td><input type="number" class="justify" name="min" min=0 step=1{% if product.min != None %} value={{ product.min }}{% endif %}></td>
			<td><input type="number" class="justify" name="max" min=1 step=1{% if product.max != None %} value={{ product.max }}{% endif %}></td>
		</tr>
		
		<tr>
			<td colspan=4><input type="submit"></td>
		</tr>
		</form>
	</tbody>
</table>
{% endblock %}