{% extends "base.html" %}

{% block title %}Edit Order - Inventory Manager{% endblock %}

{% block page_content %}
<div class="page-header">
	<h1>Edit Order</h1>
</div>

<table class="table table-bordered">
	<thead>
		<td>Product Name</td>
		<td>Quantity</td>
	</thead>
	
	<tbody>
		<form action="{{ url_for('.edit_order') }}" method="POST" id="edit-order-form">
		<input type="hidden" name="id" value={{ order.id }}>
		
		<div class="form-group  required" aria-required="true"><label class="control-label" for="date">Date</label>
			<input class="form-control" id="date" name="date" required="" type="date" value="{{ order.date.strftime('%Y-%m-%d') }}">
		</div>
		
		{% for productorder in productorders %}
		<tr>
			<input type="hidden" name="id-{{ productorder.product.id }}" value="{{ productorder.product.name }}">
			<td>{{ productorder.product.name }}</td>
			<td><input type="number" class="justify" name="quantity-{{ productorder.product.id }}" min=0 step=1 value={{ productorder.quantity }} required></td>
		</tr>
		{% endfor %}
		
		<tr>
			<td colspan=4><input type="submit"></td>
		</tr>
		</form>
	</tbody>
</table>
{% endblock %}