{% extends "base.html" %}

{% block title %}Inventory Manager{% endblock %}

{% block page_content %}
<div class="page-header">
	<h1>Inventory Manager</h1>
</div>

<div class="content">
	<h3>Welcome</h3>
	<p>Inventory Manager is a website for keeping track of what you have.
	Use it personally for things around the house or professionally for organizing
	inventory. Add products and see how much is in stock at a glance. Specify
	minimum and maximum quantities for products to quickly see which products need
	reordering and which products are overstocked. Create an order to track product
	inflow. View metrics for product depletion and other valuable statistics. See
	when and how often orders were placed.</p>
	
	<p>To get started managing your inventory,
	<a href="{{ url_for('auth.register') }}">sign up</a> for an account. It's
	free, it's easy, and it's secure. If you
	already have an account,
	<a href="{{ url_for('auth.login') }}">sign in</a>.</p>
	
	<h3>Under Development</h3>
	<p>This website is currently under active development. This means that not all
	features have been implemented yet, and those that have may not work properly.
	Occasionally, a database may be blown away or data may be eviscerated, so don't
	count on the reliability of this website while it's under development. If you
	have any questions or problems, please feel free to
	<a href="{{ url_for('.contact') }}">contact me</a>.</p>
	
	<p>I am regularly hacking away on this website, so check back frequently for
	more features. Below is the rough schedule I wish to stick to. Phase one involves
	getting a minimum viable product online. Phase two focuses on improving design
	and fulfilling my inital vision for this website. Phase three is for more features
	I may come up with during the development process.</p>
	
	<h4>Phase 1</h4>
	<ul>
		<li class="complete">All basic functionality working</li>
		<li class="complete">Individual product management</li>
		<li class="complete">Order management</li>
	</ul>
	
	<h4>Phase 2</h4>
	<ul>
		<li>Add SSL encryption</li>
		<li>AJAX implementation (i.e. no more page reloads)</li>
		<li>Stats and history</li>
		<li>Pretty graphs</li>
		<li>Note area for products</li>
	</ul>
	
	<h4>Phase 3</h4>
	<ul>
		<li>Possibly organization or group access to an inventory</li>
		<li><a href="{{ url_for('.contact') }}">Your feature here!</a></li>
	</ul>
</div>
{% endblock %}