﻿{% extends "base.html" %}

{% block title %}Inventory - Inventory Manager{% endblock %}

{% block page_content %}

<div class="page-header">
	<h1>Inventory</h1>
</div>

<!-- Products panel -->
<div class="col-md-6">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h2 class="panel-title">Products</h2>
		</div>

		<div class="panel-body">
			<div class="row">
				<div class="col-md-8">
					<div class="list-group" id="product-list">
						{% for product in products %}
						{% set overstocked = ( product.max != None and product.quantity > product.max ) %}
						{% set understocked = ( product.min != None and product.quantity < product.min ) %}
						<button type="button" 
								data-id="{{ product.id }}"
								data-name="{{ product.name }}"
								data-quantity="{{ product.quantity }}"
								data-min="{{ product.min }}"
								data-max="{{product.max }}"
								class="list-group-item{% if overstocked %} list-group-item-info{% elif understocked %} list-group-item-danger{% endif %}">
							<span class="badge">{{ product.quantity }}</span>
							{% if overstocked %}<span class="sr-only">Overstocked</span>
							{% elif understocked %}<span class="sr-only">Understocked</span>
							{% endif %}
							
							{{ product.name }}
						</button>
						{% endfor %}
					</div>
				</div>
				
				<div class="col-md-4">
				
					<button type="button" class="btn btn-primary justify" id="update-quantity-button">Update Quantity</button>
				
					<hr class="divider" id="product-divider">
				
					<div class="btn-group-vertical justify" role="group">
				
						<button type="button" class="btn btn-default" data-toggle="modal" data-target="#new-product-modal">New Product</button>
						<button type="button" class="btn btn-default" id="remove-product-button">Remove Product</button>
						<button type="button" class="btn btn-default" id="product-details-button">Product Details</button>
						<button type="button" class="btn btn-default" id="edit-product-button">Edit Product</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Orders panel -->
<div class="col-md-6">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h2 class="panel-title">Orders</h2>
		</div>
		
		<div class="panel-body">
			<div class="row">
				<div class="col-md-8">
					<div class="list-group" id="order-list">
						{% for order in orders %}
						<button type="button" 
								data-id="{{ order.id }}"
								data-date="{{ order.date.strftime('%A %B %d, %Y') }}"
								data-products="{% for productorder in Order.query.get(order.id).products %}
								{{ productorder.product.id }},{{ productorder.product.name }},{{ productorder.quantity }}
								{% endfor %}"
								class="list-group-item">
						{{ order.date.strftime('%m-%d-%Y') }}
						</button>
						{% endfor %}
					</div>
				</div>
				
				<div class="col-md-4">
					<div class="btn-group-vertical justify" role="group">
						<button type="button" class="btn btn-default" data-toggle="modal" data-target="#new-order-modal">New Order</button>
						<button type="button" class="btn btn-default" id="remove-order-button">Remove Order</button>
						<button type="button" class="btn btn-default" id="order-details-button">Order Details</button>
						<button type="button" class="btn btn-default" id="edit-order-button">Edit Order</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{% include "modals.html" %}

{% endblock %}

{% block scripts %}
{{ super() }}

{{ moment.include_moment() }}
<script src="{{ url_for('.inventory_js') }}"></script>
{% endblock %}