{% import "bootstrap/wtf.html" as wtf %}

<!-- New Product Modal -->
<div class="modal fade" id="new-product-modal" tabindex="-1" role="dialog" aria-labelledby="new-product-modal-title">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="new-product-modal-title">Add New Product</h4>
      </div>
      <div class="modal-body">
		{# { wtf.quick_form(new_product_form, id="new-product-form", action=url_for('.add_product')) }#}
		<form action="{{ url_for('.add_product') }}" id="new-product-form" class="form" method="post">
			{{ new_product_form.hidden_tag() }}
			{{ wtf.form_errors(new_product_form, hiddens='only') }}

			{{ wtf.form_field(new_product_form.name) }}
			{{ wtf.form_field(new_product_form.quantity) }}
			{{ wtf.form_field(new_product_form.min) }}
			{{ wtf.form_field(new_product_form.max) }}
			
			<input type="submit" style="display: none;">
		</form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="submit-new-product">Save changes</button>
      </div>
    </div>
  </div>
</div>

<!-- Product details modal -->
<div class="modal fade" id="product-details-modal" tabindex="-1" role="dialog" aria-labelledby="product-details-modal-title">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="Product-details-modal-title"><span id="product-name">Product</span> Details</h4>
			</div>
			<div class="modal-body">
				<table class="table table-bordered">
					<thead>
						<td>Current Quantity</td>
						<td>Minimum  Quantity</td>
						<td>Maximum Quantity</td>
					</thead>
					
					<tbody>
						<tr>
							<td id="product-quantity">Error</td>
							<td id="product-min">Error</td>
							<td id="product-max">Error</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>

<!-- Update product quantity modal -->
<div class="modal fade" id="update-quantity-modal" tabindex="-1" role="dialog" aria-labelledby="update-quantity-modal-title">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="update-quantity-modal-title">Update <span id="product-name">Product</span> Quantity</h4>
			</div>
			<div class="modal-body">
				<table class="table table-bordered">
					<thead>
						<td>Current Quantity</td>
						<td>Quantity Change</td>
						<td>New Quantity</td>
					</thead>
					
					<tbody>
						<tr>
							<td id="product-quantity">Error</td>
							<td><input type="number" name="quantity-change" step=1 value=0></td>
							<td id="new-quantity">Error</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				<button type="button" class="btn btn-primary" id="update-quantity-submit">Update</button>
			</div>
		</div>
	</div>
</div>

<!-- New order modal -->
<div class="modal fade" id="new-order-modal" tabindex="-1" role="dialog" aria-labelledby="new-order-modal-title">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="new-order-modal-title">New Order</h4>
			</div>
			<div class="modal-body">
				<form method="POST" action="{{ url_for('.new_order') }}" class="form" id="new-order-form">
					<div class="form-group  required" aria-required="true"><label class="control-label" for="date">Date</label>
						<input class="form-control" id="date" name="date" required="" type="date" value="" aria-required="true">
					</div>
					
					<fieldset id="product-order-fieldset">
						<legend>Products</legend>
						
						<div id="new-product-order-list-container">
							{% for n in range(3) %}
							<div class="form-inline">
								<div class="form-group">
									<label for="product-order-select-{{n}}">Product:</label>
									<select class="form-control" name="product-order-{{n}}">
										<option></option>
										{% for product in products %}
										<option value="{{ product.id }}">{{ product.name }}</option>
										{% endfor %}
									</select>
								</div>
								
								<div class="form-group">
									<label for="product-order-quantity-{{n}}">Quantity:</label>
									<input class="form-control product-order-quantity" type="number" name="product-order-quantity-{{n}}" min=0 step=1 value=0>
								</div>
								
								<button type="button" class="form-control btn btn-default">
									<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
									<span class="sr-only">Add new product</span>
								</button>
							</div>
							{% endfor %}
						</div>
					
						<div class="form-group text-center">
							<button type="button" class="btn btn-default" id="add-product-order-button">Add another product to order</button>
						</div>
					</fieldset>
				</form>
			</div>
			
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				<button type="button" class="btn btn-primary" id="new-order-submit">Save</button>
			</div>
		</div>
	</div>
</div>

<!-- Order details modal -->
<div class="modal fade" id="order-details-modal" tabindex="-1" role="dialog" aria-labelledby="order-details-modal-title">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="order-details-modal-title">Order Details</h4>
			</div>
			<div class="modal-body">
				<h3 id="order-date">Error</h3>
				<table class="table table-bordered">
					<thead>
						<!--td>Products</td-->
						<td>Name</td>
						<td>Quantity</td>
					</thead>
					
					<tbody id="productorder-table">
					</tbody>
				</table>
			</div>
			
			<div class="modal-footer">
				<button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>